section.filters {
        display: flex;
        background-color: white;
        height: 70px;
        width: 100%;
        border: solid 1px #DDDDDD;
        border-radius: 4px;
        justify-content: flex-start;
}

section.filters button {
        display: flex;
        font-size: 18px;
        background-color: #FF5A5F;
        color: white;
        height: 48px;
        width: 20%;
        border: 1px;
        border-radius: 4px;
        margin: auto;
        margin-right: 30px;
        margin-left: auto;
        justify-content: center;
        align-items: center;
}

section.filters button:hover {
        opacity: 90%;
}

section.filters div {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        margin-left: 50px;
        align-items: flex-start;
        justify-content: flex-start;
}

section.filters h3 {
        font-weight: 600;
        margin-bottom: 0px;
}
section.filters h4 {
        font-weight: 400;
        font-size: 14px;
        margin: 4px 0px;
}

section.filters div.locations {
        border-right: solid 1px #DDDDDD;
}
