section.places {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 20px;
}

section.places div {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
}

section.places article {
        width: 390px;
        padding: 20px;
        margin: 20px;
        border: solid 1px #FF5A5F;
        border-radius: 4px;
}

section.places h1 {
        display: flex;
        align-content: flex-start;
        font-size: 30px;
}

article h2 {
        display: flex;
        font-size: 30px;
        justify-content: center;
}
